<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="partials.html :: head ('Single Book Page')"></head>
<style>
	/*Set card to 18rem so it is to the right of the screen when medium sized*/
@media only screen and (min-width: 768px) {
        .bookDetailsCard {
            width: 18rem;
        }
    }

</style>

<body>
<!--Navigation-->
<nav th:replace="partials :: navbar-user"/>


<main class="p-5">
	<section>
<!--	set margin and remove border-->
	<div class="card mb-3 border border-0">
<!--		Sets the image to the left and the description to the right-->
		<div class="row g-0">
<!--			Book Image-->
			<div class="col-md-4">
				<img th:src="${book.bookImage}" class="img-fluid rounded-start" alt="Book Cover">
			</div>
			<div class="col-md-8">
<!--				Start of Card-->
				<div class="card-body">
<!--					Book Title-->
					<h5 class="card-title" th:text="${book.title}">Book title</h5>
<!--					Book Rating-->
					<b>
						<p th:text="${book.rating}">rating in number need to look up star rating & avg rating</p>
					</b>
<!--					Book Description-->
					<p class="card-text" th:text="${book.description}">Description</p>
				</div>

			</div>
<!--			Card Footer-->
			<div class="card-footer text-muted d-flex justify-content-evenly align-items-center border border-0">
<!--				Author Name-->
				<p th:text="${book.author}">author Name</p>
<!--				Published Date-->
				<p th:text="${book.publishedDate}"></p>
			</div>
		</div>
	</div>
	</section>


<!--	Book Details Section-->
	<section>
		<div class="card bookDetailsCard">
<!--			Will change style Card Header for now-->
			<div class="card-header">
				Book Details
			</div>
<!--			List of Book Details-->
			<ul class="list-group list-group-flush">
<!--				Book Title-->
				<li class="list-group-item d-flex justify-content-evenly fw-bold">Book Title:<p class="fw-normal" th:text="${book.title}"></p></li>
<!--				Book Author-->
				<li class="list-group-item d-flex justify-content-evenly fw-bold">Author:<p class="fw-normal" th:text="${book.author}"></p></li>
<!--				Book ISBN-->
				<li class="list-group-item d-flex justify-content-evenly fw-bold">ISBN:<p class="fw-normal" th:text="${book.isbn}"></p></li>
<!--				Book Page Count-->
				<li class="list-group-item d-flex justify-content-evenly fw-bold">Page Count:<p class="fw-normal" th:text="${book.pageCount}"></p></li>
<!--				Book Published Date-->
				<li class="list-group-item d-flex justify-content-evenly fw-bold">Date Published:<p class="fw-normal" th:text="${book.publishedDate}"></p></li>
<!--				Book Genre-->
				<li class="list-group-item d-flex justify-content-evenly fw-bold">Category:<p class="badge rounded-pill text-bg-success" th:text="${book.genre}"></p></li>
			</ul>
		</div>
	</section>

<!--	Book Recommendations based off of liked books-->
	<section>
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<div class="col">
				<div class="card">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
		</div>
	</section>


</main>


<footer th:replace="partials :: footer"></footer>

</body>
</html>