<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials.html :: head ('Main Page')"></head>
<body>
<!-- Navigation -->
<nav th:replace="partials :: navbar-user"/>

    <main>
        <!-- Introduction Section -->
        <div class="container-fluid p-0 m-0 intro-welcomePage" >
            <!-- Dark Background Overlay -->
            <div class="container-fluid py-5 bg-dark bg-dark vw-100 bg-opacity-75">
                <!-- Intro Container -->
                <div class="row p-0 p-md-4 container align-items-center mx-auto">
                    <!-- columns -->
                    <div class="col-lg-7 p-md-3 text-danger rounded-4 p-lg-5 pt-lg-3">
                        <!-- Image SMall View -->
                        <img class="d-block d-md-none" src="/img/it.png" alt="Spooky Season" width="auto" height="220">
                        <!-- Title -->
                        <h1 class="display-1 mb-4 fw-bold lh-1 text-decoration-underline">Spooky Season</h1>
                        <!-- Boot Title -->
                        <h3 class="fw-bold text-white d-inline mx-2">It</h3><p class="d-inline text-white">by Stephen King</p>
                        <!-- Lead Body -->
                        <p class="lead mt-2 lh-sm text-white px-0 mx-0 px-md-3">They were seven teenagers when they first stumbled upon the horror. Now they are grown-up men and women who have gone out into the big world to gain success and happiness. But none of them can withstand the force that has drawn them back to Derry to face the nightmare without an end, and the evil without a name.</p>
                        <!-- Button Container -->
                        <div class="d-grid gap-2 mt-5 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                            <!-- Button -->
                            <button type="button" class="btn btn-lg px-4 me-md-2 fw-bold" id="createAccountBTN-welcomePage">Read more</button>
                        </div>
                    </div>
                    <!-- Image Container -->
                    <div class="col-lg-4 offset-lg-1 py-md-5 d-none d-md-block overflow-hidden">
                        <!-- Image -->
                        <img class="d-none d-md-block" src="/img/it.png" alt="Spooky Season" width="auto" height="620">
                    </div>
                </div>
            </div>
        </div>
        <!-- Review Section -->
        <div class="container-fluid py-5 " id="reviewsSection-WelcomePage">
            <!-- Title  Small-->
            <h2 class="w-75 d-block d-md-none display-5 mx-auto border-bottom border-dark fw-bold text-center">Bookworm Reviews</h2>
            <!-- Title  large-->
            <h2 class="w-50 d-none d-md-block display-5 mx-auto border-bottom border-dark fw-bold text-center">Bookworm Reviews</h2>
            <!-- Arrow Container -->
            <div class="row w-100 d-flex justify-content-center">
                <!-- Left Arrow -->
                <i class="fa-solid fw-bolder fa-arrow-left-long col-2 fs-4"></i>
                <!-- Space Between -->
                <span class="col-6"></span>
                <!-- Right Arrow -->
                <i class="fa-solid fw-bolder fa-arrow-right-long col-2 fs-4"></i>
            </div>
            <!-- Review Container to make it scrollable-->
            <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 p-0 m-0 w-100 flex-nowrap reviewscontainer-welcomePage mt-3">
                <div class="col container-fluid" th:each="review: ${reviews}" th:unless="${reviewStat.index > 9}">
                    <div class="card border border-0 h-100 position-relative">
                        <img th:src="${review.book.bookImage}" th:alt="${review.book.title}" class="card-img-top" th:height="180"/>
                        <div class="card-body">
                            <div class="col position-absolute start-0 top-0 p-2 m-0">
                                <!-- User Profile Pic -->
                                <a href="/register">
                                    <img  th:src="${review.user.profilePhoto}" th:if="${review.user.profilePhoto != null}" class="d-block d-sm-none rounded-circle border border-3 border-success p-0 profilePicSM-welcomePage" height="60px" width="60px"/>
                                    <img  th:src="${review.user.profilePhoto}" th:if="${review.user.profilePhoto != null}" class="d-none d-sm-block rounded-circle border border-3 border-success p-0 profilePicLG-welcomePage" height="70px" width="70px"/>
                                </a>
                                <!-- Username (med)) -->
                                <a href="/register" class="link-light badge px-3 mt-1 rounded-3 fs-6 fs-sm-5 text-capitalize text-decoration-none usernameReviews-welcomePage">
                                    @<span th:text="${review.user.username}">Username</span>
                                </a>
                            </div>
                            <h5 class="card-title" th:text="${review.title}">Card title</h5>
                            <p class="card-text" th:text="${review.reviewBody}">This is a wider card</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted" th:text="${review.publishedDate}">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Certain Genre Section Book -->
        <div class="py-5 text-center container-fluid CertainGenreBooks-welcomePage" >
            <section>
                <!-- Title  Small-->
                <h2 class="pb-2 w-75 d-block d-md-none display-5 mx-auto border-bottom border-dark fw-bold text-center">Horror Books</h2>
                <!-- Title  large-->
                <h2 class="pb-2 w-50 d-none d-md-block display-5 mx-auto border-bottom border-dark fw-bold text-center">Horror Books</h2>
                <!-- Arrow Container -->
                <div class="row w-100 d-flex justify-content-center">
                    <!-- Left Arrow -->
                    <i class="fa-solid fw-bolder fa-arrow-left-long col-2 fs-4"></i>
                    <!-- Space Between -->
                    <span class="col-6"></span>
                    <!-- Right Arrow -->
                    <i class="fa-solid fw-bolder fa-arrow-right-long col-2 fs-4"></i>
                </div>
                <!-- Bookseller Section -->
                <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-5 p-0 m-0 w-100 flex-nowrap containerCertainBooks text-center">
                    <!-- Book Display -->
                    <div class="col container-fluid py-5 m-0 bookImageContainer-WelcomePage"  th:each="book: ${certainBooks}" th:unless="${bookStat.index >8}">
                        <!-- Rating -->
                        <div class="flex-nowrap badge ratingBadge-WelcomePage">
                            <h6 class="p-0 m-0 d-block d-md-none"><i class="fa-solid fa-star"></i> <span th:text="${book.rating}">rating</span></h6>
                            <h5 class="p-0 m-0 d-none d-md-block"><i class="fa-solid fa-star"></i> <span th:text="${book.rating}">rating</span></h5>
                        </div>
                        <!-- Book Image -->
                        <div class="d-flex justify-content-center w-100">
                            <!-- Large Screen -->
                            <img th:src="${book.bookImage}" th:alt="${book.title}" class="d-none d-md-block rounded-3 bookImage-WelcomePage" th:height="280" width="220"/>
                            <!-- Small Screen -->
                            <img th:src="${book.bookImage}" th:alt="${book.title}" class="d-block d-md-none  rounded-3 bookImage-WelcomePage" th:height="180" width="120"/>
                        </div>
                        <!-- Book Genre -->
                        <div class="flex-nowrap badge badge-WelcomePage">
                            <!-- Text Small-->
                            <h6 class="p-0 m-0 d-block d-md-none" th:text="${book.genre}">Genre</h6>
                            <!-- Text Large-->
                            <h5 class="p-0 m-0 d-none d-md-block" th:text="${book.genre}">Genre</h5>
                        </div>
                    </div>
                </div>


            </section>
        </div>
        <!-- Quote Section -->
        <section class="container-fluid py-5" style="background-color:#F0DD9B;">
            <!-- Centers Card  -->
            <div class="container d-flex justify-content-center align-items-center">
                <!-- Changes the size of the Card -->
                <div class="col col-md-9 col-lg-7">
                    <!-- Card Container -->
                    <div class="card shadow-lg rounded-5">
                        <!-- Card Body Container -->
                        <div class="card-body p-md-5">
                            <!-- Image Container -->
                            <div class="text-center mb-4 pb-2">
                                <!-- Image -->
                                <img src="/img/light.png" alt="Bulb" width="100">
                            </div>
                            <!-- Text Container -->
                            <figure class="text-center mb-0 ">
                                <!-- Quote Container -->
                                <blockquote class="blockquote">
                                    <p class="pb-3 w-75 mx-auto">
                                        <!-- Quotations -->
                                        <i class="fas fa-quote-left fa-xs text-success"></i>
                                        <!-- Quote Large Screen-->
                                        <span id="quote" class="lead font-italic">Many of life's failures are people who did not realize how close they were to success when they gave up</span>
                                        <!-- Quotations -->
                                        <i class="fas fa-quote-right fa-xs text-success"></i>
                                    </p>
                                </blockquote>
                                <!-- Author Name - footer -->
                                <figcaption class="blockquote-footer mb-0">
                                    <!-- Author-->
                                    <span id="author">Thomas Edison</span>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!----- Best Seller Section ----->
        <div class="py-5" id="BestSeller-welcomePage">
            <!-- Title  Small-->
            <h2 class="pb-2 w-75 d-block d-md-none display-5 mx-auto border-bottom border-dark fw-bold text-center">Best Sellers</h2>
            <!-- Title  large-->
            <h2 class="pb-2 w-50 d-none d-md-block display-5 mx-auto border-bottom border-dark fw-bold text-center">Best Sellers</h2>
            <!-- Arrow Container -->
            <div class="row w-100 d-flex justify-content-center">
                <!-- Left Arrow -->
                <i class="fa-solid fw-bolder fa-arrow-left-long col-2 fs-4"></i>
                <!-- Space Between -->
                <span class="col-6"></span>
                <!-- Right Arrow -->
                <i class="fa-solid fw-bolder fa-arrow-right-long col-2 fs-4"></i>
            </div>
            <!-- Bookseller Section -->
            <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-5 p-0 m-0 w-100 flex-nowrap containerOfBestSellers-WelcomePage text-center">
                <!-- Book Display -->
                <div class="col container-fluid py-5 m-0 bookImageContainer-welcomePage"  th:each="book: ${book1}" th:unless="${bookStat.index >8}">
                    <!-- Rating -->
                    <div class="flex-nowrap badge ratingBadge-welcomePage">
                        <h6 class="p-0 m-0 d-block d-md-none"><i class="fa-solid fa-star"></i> <span th:text="${book.rating}">rating</span></h6>
                        <h5 class="p-0 m-0 d-none d-md-block"><i class="fa-solid fa-star"></i> <span th:text="${book.rating}">rating</span></h5>
                    </div>
                    <!-- Book Image -->
                    <div class="d-flex justify-content-center w-100">
                        <!-- Large Screen -->
                        <img th:src="${book.bookImage}" th:alt="${book.title}" class="d-none d-md-block rounded-3 bookImage-welcomePage" th:height="280" width="220"/>
                        <!-- Small Screen -->
                        <img th:src="${book.bookImage}" th:alt="${book.title}" class="d-block d-md-none  rounded-3 bookImage-welcomePage" th:height="180" width="120"/>
                    </div>
                    <!-- Book Genre -->
                    <div class="flex-nowrap badge badge-welcomePage">
                        <!-- Text Small-->
                        <h6 class="p-0 m-0 d-block d-md-none" th:text="${book.genre}">Genre</h6>
                        <!-- Text Large-->
                        <h5 class="p-0 m-0 d-none d-md-block" th:text="${book.genre}">Genre</h5>
                    </div>
                </div>
            </div>
        </div>
        <!--Categories Section-->
        <div class="py-5 text-center container-fluid categories-welcomePage">
            <!-- Title  Small-->
            <h2 class="pb-2 w-75 d-block d-md-none display-5 mx-auto border-bottom border-dark fw-bold text-center">Categories</h2>
            <!-- Title  large-->
            <h2 class="pb-2 w-50 d-none d-md-block display-5 mx-auto border-bottom border-dark fw-bold text-center">Categories</h2>
            <!-- Arrow Container -->
            <div class="row w-100 d-flex justify-content-center">
                <!-- Left Arrow -->
                <i class="fa-solid fw-bolder fa-arrow-left-long col-2 fs-4"></i>
                <!-- Space Between -->
                <span class="col-6"></span>
                <!-- Right Arrow -->
                <i class="fa-solid fw-bolder fa-arrow-right-long col-2 fs-4"></i>
            </div>
            <!-- Genre Section -->
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 flex-nowrap py-5 container-fluid mx-auto categoriesGenre-welcomePage">
                <!-- Start of the Categories -->
                <div class="col" th:each="genre: ${bookGenre}">
                    <!-- Genre Content Container -->
                    <div class="card border border-0">
                        <!-- Card Body -->
                        <div class="card-body categoriesGenreBoxBackground-welcomePage m-0 p-2 p-sm-0 py-sm-4 w-100">
                            <!-- Text Genre XSmall -->
                            <h6 th:text="${genre}" class="fw-bold d-block d-sm-none">Genre</h6>
                            <!-- Text Genre small & up  -->
                            <h5 th:text="${genre}" class="fw-bold display- d-none d-sm-block">Genre</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Footer-->
    <footer th:replace="partials :: footer"></footer>
</body>
<!-- Javascript Call to API Random Quote -->
<script th:replace="partials :: JavascriptAPIRandomQuote"></script>
</html>
