<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials.html :: head ('Main Page')"></head>
<body>
<!-- Navigation -->
<nav th:replace="partials :: navbar-user"/>


<!-- Introduction Section -->
<div class="container-fluid p-0 m-0" style="background-image: url('/img/spookyBackground.jpg');background-size: cover;background-position: center;">
    <div class="container-fluid py-5 bg-dark bg-dark vw-100 bg-opacity-75">
        <!-- Intro Container -->
        <div class="row p-4 container align-items-center mx-auto">
            <!-- columns -->
            <div class="col-lg-7 p-3 text-danger rounded-4 p-lg-5 pt-lg-3">
                <!-- Image SMall View -->
                <img class="d-block d-md-none" src="/img/it.png" alt="Spooky Season" width="auto" height="220">
                <!-- Title -->
                <h1 class="display-1 mb-4 fw-bold lh-1 text-decoration-underline">Spooky Season</h1>
                <!-- Boot Title -->
                <h3 class="fw-bold text-white d-inline mx-2">It</h3><p class="d-inline text-white">by Stephen King</p>
                <!-- Lead Body -->
                <p class="lead mt-2 lh-sm text-white px-1 px-md-3">They were seven teenagers when they first stumbled upon the horror. Now they are grown-up men and women who have gone out into the big world to gain success and happiness. But none of them can withstand the force that has drawn them back to Derry to face the nightmare without an end, and the evil without a name.</p>
                <!-- Button Container -->
                <div class="d-grid gap-2 mt-5 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <!-- Button -->
                    <button type="button" class="btn btn-lg px-4 me-md-2 fw-bold" style="background-color:#AED666;">Read more</button>
                </div>
            </div>
            <!-- Image Container -->
            <div class="col-lg-4 offset-lg-1 py-md-5 d-none d-md-block overflow-hidden">
                <!-- Image -->
                <img class="d-none d-md-block" src="/img/it.png" alt="Spooky Season" width="auto" height="620">
            </div>
        </div>
    </div>
</div>


<!-- Best Seller Section -->
<div class="py-5 text-center container-fluid" style="background-color:#F0DD9B;" >
    <section>
        <!-- Title -->
        <h2 class="pb-2 w-50 display-5 mx-auto border-bottom border-dark">Best Sellers</h2>
        <!-- Arrow Container -->
        <div class="row mx-auto w-100">
            <!-- Left Arrow -->
            <i class="fa-solid fa-arrow-left-long col-3 fs-4"></i>
            <!-- Space Between -->
            <span class="col-md-5 col-4	"></span>
            <!-- Right Arrow -->
            <i class="fa-solid fa-arrow-right-long col-3 text-right fs-4"></i>
        </div>
        <!-- Container of Books -->
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 flex-nowrap py-5 container-fluid mx-auto" style="width: 100%;overflow-x: scroll !important;">
            <!-- Start of the Books -->
            <div class="col" th:each="book: ${book1}" th:unless="${bookStat.index > 11}">
                <!-- Image Background -->
                <div class="text-white card card-cover h-100 py-5 overflow-hidden rounded-5 shadow-lg" th:style="'background-image:url(' + ${book.bookImage}+ ');background-size: cover;'" >
                    <div class="w-75 mb-4 mx-auto rounded-3"style="background-color:#AED666;">
                        <!-- Title of Book -->
                        <h5 class="pt-3" th:text="${book.title}">Fake Book Title</h5>
                        <p class="mb-3">By <span th:text="${book.author}">Fake Author</span></p>
                    </div>
                    <!-- Bottom Content Container -->
                    <ul class="d-flex list-unstyled container mt-auto">
                        <li class="me-auto rounded-circle p-4" style="background-color:#AED666;">
                            <h5><i class="fa-solid fa-star"></i> <span th:text="${book.rating}">rating</span></h5>
                        </li>
                        <li class="d-flex align-items-center rounded-circle p-3" style="background-color:#AED666;">
                            <h5 th:text="${book.genre}">Genre</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>