<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials.html :: head ('Register with BookWorm')"></head>

<body>
<nav th:replace="partials :: navbar"/>




<section style="background-color: #eee;" class="h-100 mainLoginBG p-2">
	<div class="container mt-2 py-4 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-lg-12 col-xl-11">
				<div class="card text-black" style="border-radius: 25px;">
					<div class="card-body  p-md-5">
						<div class="row justify-content-center">
							<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
								<p class="text-center h1 fw-bold mx-1 mx-md-4 mt-4">Sign Up Now</p>
								<p class="text-center text-mute">Have an account? <a href="/login" class="text-reset">Sign in</a> </p>

								<!--Start of Form-->
								<form class="">
										<!-- First Name-->
										<section class="form-group">
											<label for="firstName" class="text-dark loginLabel">First Name</label>
											<input id="firstName"

											       class="form-control registerInput"
											       type="text"
											       minlength="3" maxlength="50"
											       title="Uppercase & Lowercase letters only, no punctuation, numbers, or special characters and between 3 and 50 characters"
											       pattern="[a-zA-Z]{3,50}"
											       required>
										</section>

										<!-- Last Name-->
										<section class="form-group">
											<label for="lastName" class="text-dark loginLabel">Last Name</label>
											<input id="lastName"

											       class="form-control registerInput"
											       type="text"
											       minlength="3" maxlength="50"
											       title="Uppercase & Lowercase letters only, no punctuation, numbers, or special characters and between 3 and 50 characters"
											       pattern="[a-zA-Z]{3,50}"
											       required>
										</section>

									<!-- UserName-->
									<section class="form-group">
										<label for="username" class="text-dark loginLabel control-label">Username</label>
										<input id="username"
										       class="form-control registerInput"
										       type="text"
										       minlength="4" maxlength="15"
										       title="letters and numbers only, no punctuation or special characters and between 4 and 15 characters"
										       pattern="^[a-zA-Z][a-zA-Z0-9-_.]{4,15}$"
										       required>
<!--										This is to give us an error message implement when using thymeleaf-->
										<!--<p class="error-message text-danger border-bottom border-danger"></p>-->

										<p class="text-secondary">
											<small>letters and numbers only, no punctuation or special characters, between 4 and 15 characters</small>
										</p>
									</section>

									<!--Birthday-->
									<div class="col-md-6 mb-4 d-flex align-items-center">
										<div class="form-outline datepicker w-100">
											<label for="birthdayDate" class="form-label">Birthday</label>
											<input type="date" id="birthdayDate" name="trip-start"
											       value="yyyy-mm-dd">
										</div>
									</div>

									<!--Email-->
									<div class="form-group">
										<label for="email" class="text-dark loginLabel" >Email</label>
										<input id="email"
										       class="form-control registerInput"
										       type="email"
										       minlength="6" maxlength="254"
										       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
										       title="Please provide a valid email"
										       required>
									</div>

									<!--Password-->
									<div class="form-group">
										<label for="password" class="loginLabel">Password</label>
										<input type="password"
										       id="password"
										       class="form-control registerInput"
										       min="6" maxlength="15"
										       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,15}"
										       title="Must contain at least one number and one uppercase and lowercase letter, and between 6 through 15 characters"
										       required>
										<p class="text-secondary">
											<small>at least one number and one uppercase and lowercase letter, and between 6 through 15 characters</small>
										</p>
									</div>

									<!--Upload Image-->
										<div>
											<div class="d-flex justify-content-center mb-5">
											<input type="file" id="img" accept="image/*" name="img"/>
											</div>
										</div>



<!--									<form action="/action_page.php">-->

<!--										<input type="file" id="img" name="img" accept="image/*">-->
<!--									</form>-->

									<!--Terms of Service-->
									<div class="form-check d-flex justify-content-center mb-5">
										<input class="form-check-input me-2" type="checkbox" value="" id="check-label" />
										<label class="form-check-label" for="check-label">
											I agree to the <a href="#!">Terms of service</a>
										</label>
									</div>

									<!-- Submit Button -->
									<button type="submit" class="w-100 loginButton btn btn-block mt-3" style="background-color: #AED666; text-align: center">Register</button>
								</form>
							</div>

							<!--Image Form-->
							<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

								<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
								     class="img-fluid" alt="Sample image">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>








<footer th:replace="partials :: footer"></footer>
</body>
</html>