<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="partials.html :: head ('Welcome to BookWorm')"></head>
<body>
	<nav th:replace="partials :: navbar"/>

	<main class="p-0 m-0">

		<!--Introduction-->
		<div class="py-5 my-0 text-center" style="background-color: #eee;">
			<!--Small Logo-->
			<img class="d-block d-md-none mx-auto p-0 my-0" src="/img/logo.png" th:width="140" alt="BookWorm Logo">
			<!--Med & up Logo-->
			<img class="d-none d-md-block mx-auto p-0 my-0" src="/img/logo_Large.png" th:width="280" alt="BookWorm Logo">
			<!--Title of Application (XS & SMALL)-->
			<h1 class="display-3 fw-bold d-block d-md-none p-1">Bookworm</h1>
			<!--Title of Application (MED & UP)-->
			<h1 class="display-3 mx-auto px-5 d-none d-md-block">Find over 20 million books in <br><span class="fw-bold"> Book Worm</span></h1>
			<!--Hr Line-->
			<hr class="w-50 mx-auto mb-2" style="border: black solid 3px;background-color: black;">
			<!-- Description & Button Section -->
			<div class="col-lg-6 mx-auto">
				<!--Description (XS & SM)-->
				<p class="lead mb-4 d-block d-md-none">a bookworm will always rule the world... right after this chapter</p>
				<!--Description (MD & UP)-->
				<p class="lead mb-4 d-none d-md-block">BookWorm was created to give users an option to not only search and view books they would like to read but to also inspire other avid readers. This is possible by allowing registered users to leave reviews, retrieve recommendations based on liked books and follow other users profiles.</p>
				<!--Button for creating an account-->
				<button type="button" class="btn btn-lg px-4 gap-3" style="background-color:#AED666;">Primary button</button>
			</div>
		</div>

		<!-- Best Seller Section -->
		<div class="py-5 text-center container-fluid" style="background-color:#F0DD9B;" >
			<section>
				<!-- Title -->
				<h2 class="pb-2 w-50 display-5 mx-auto border-bottom border-dark">Best Sellers</h2>
				<!-- Container of Books -->
				<div class="row row-cols-1 row-cols-md-3 flex-nowrap py-5 container-fluid mx-auto" style="width: 100%;overflow-x: scroll !important;">
					<!-- Start of the Books -->
					<div class="col" th:each="book: ${books}" th:unless="${bookStat.index > 5}">
						<!-- Image Background -->
						<div class="text-white card card-cover h-100 py-5 overflow-hidden rounded-5 shadow-lg" th:style="'background-image:url(' + ${book.bookImage}+ ');background-size: cover;'" >
							<div class="w-75 mb-4 mx-auto rounded-3"style="background-color:#AED666;">
								<!-- Title of Book -->
								<h5 class="pt-3" th:text="${book.title}">Fake Book Title</h5>
								<p class="mb-3">By <span th:text="${book.author}">Fake Author</span></p>
							</div>
								<!-- Bottom Content Container -->
								<ul class="d-flex list-unstyled container mt-auto">
									<li class="me-auto rounded-circle p-4" style="background-color:#AED666;">
										<h5><i class="fa-solid fa-star"></i> <span th:text="${book.rating}">rating</span></h5>
									</li>
									<li class="d-flex align-items-center rounded-circle p-3" style="background-color:#AED666;">
										<h5 th:text="${book.genre}">Genre</h5>
									</li>
								</ul>
						</div>
				</div>
				</div>
			</section>
		</div>

		<!--Categories Section-->
		<div class="py-5 text-center container-fluid" style="background-color:#eee">
			<section>
		<!--Title-->
				<h2 class="pb-2 w-50 display-5 mx-auto border-bottom border-dark">Categories</h2>
				<div class="row row-cols-1 row-cols-md-3 flex-nowrap py-5 container-fluid mx-auto" style="width: 100%;overflow-x: scroll !important;">
					<!-- Start of the Categories -->
					<div class="col" th:each="book: ${book}" th:unless="${bookStat.index > 5}">
							<!-- Bottom Content Container -->
							<div class="d-flex list-unstyled container mt-auto justify-content-evenly">
								<div class="d-flex align-items-center rounded-square p-3" style="background-color:#AED666; width: 18rem; height: 10rem;">
									<h5 th:text="${book.genre}">Genre</h5>

								</div>
							</div>
						</div>
					</div>

			</section>
		</div>

<!--
		<div th:each="review: ${reviews}" th:unless="${reviewStat.index > 5}">
			<h2 th:text="${review.title}">Title</h2>
		</div>
-->

	</main>
	<footer th:replace="partials :: footer"></footer>
</body>
</html>